* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adding Font */
@font-face{
    font-family: 'Cabin';
    src: url('../Fonts/Cabin-Regular.ttf') format('truetype');
}

html{
    font-family: "itc-benguiat", serif;
    background-color: rgb(10, 10, 61);
    cursor: url(../Images/graphics/cursor-inactive.png) 5 5, auto;
}

/* Nav Bar */
header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.7em 2.0em;
    top: 0px;
    width: 100%;
    box-shadow: 0px 2px 60px 0px rgb(99, 106, 184);
    font-weight: 400;
    background-color: #0a0a3d;
    z-index: 2;
}

.logo {
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
    margin-right: auto;
    z-index: 99;
}

.nav-links li {
    display: inline-flex;
    font-size: 20px;
    background-color: rgb(10, 10, 61);
}

.nav-links li a {
    margin-right: 2.0em;
    color: rgb(251, 241, 239);
    padding: 10px;
}

.active a{
    text-decoration: underline;
    text-decoration-color: rgb(248, 216, 66);
}

.inactive a{
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(248, 216, 66);
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

/*Appointment Header*/
.bigtitle{
    text-align: center;
    width:100%;
}
.bigtitle h1{
    display: block;
    font-family: "itc-benguiat", serif;
    font-size: 36px;
    margin-top:140px;
    color:white;
}

/* CTA */
button {
    border: none;
    border-radius: 10px;
    padding: 0.5em 1.0em;
    font-size: 20px;
    font-family: "itc-benguiat", serif;
    font-weight: 400;
    color: rgb(10, 10, 61);
    background-color: rgb(248, 216, 66);
}

button:hover {
    background-color: rgb(249, 241, 206);
    transition: all 0.2s ease 0s;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}
  
/*calender*/
#calendar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    position: relative;
    margin-top: 5em;
}

#calendar {
    width: 100%;
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: larger;
}

#calendar-header button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#calendar-header button:hover {
    background-color: #0056b3;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

#calendar-table {
    width: 100%;
    border-collapse: collapse;
}

#calendar-table th,
#calendar-table td {
    width: 14.2%;
    height: 35px;
    text-align: center;
    border: 1px solid rgb(99, 106, 184);
    font-weight: bold;
    background-color: #0a0a3d;
}

#calendar-table td {
    cursor: pointer;
    border: 1px solid  rgb(99, 106, 184);
    background-color: white;
}

#calendar-table tr th{
    color:#fbf1ef;
}

#calendar-table td:hover {
    background-color: rgb(240, 240, 240);
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}


#time-selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#am-pm-selector {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

#time-slots {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#time-slots li {
    background-color: #f8f9fa;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

#time-slots li:hover {
    background-color: #b8bdf0;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

#time-slots li.selected {
    background-color: #b8bdf0;
    font-weight: bold;
}

#selected-date {
    font-size: 18px;
    font-weight: bold; 
    color: rgb(251, 241, 239); 
    text-align: left;
    margin-bottom: 10px;
}

#calendar-table .date-cell.selected {
    background-color: rgb(248, 216, 66);
    color: rgb(10, 10, 61); 
    font-weight: bold; 
}

/*Personal info form container*/
#form-container {
    width: 500px;
    background-color: rgb(99, 106, 184);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: "Cabin";
    height: 530px;
    margin-top: 5em;
}

#form-container h3{
    text-align: center;
    margin-bottom: 20px;
}

#form-container label {
    display: block;
    margin-bottom: 5px;
}

#form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

#form-container input[type="file"] {
    padding: 5px;
}

#form-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(248, 216, 66);
    border: none;
    border-radius: 5px;
    color: rgb(10, 10, 61);
    font-weight: bold;
}

#form-container button:hover {
    background-color: rgb(249, 241, 206);
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

#name-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#name-row .form-group {
    flex: 1;
}

#name-row .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

#name-row .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#contact-row .form-group {
    flex: 1;
}

#contact-row .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

#contact-row .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#tier-selection {
    margin-top: 20px;
}

#tier-selection label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}

#tier-selection select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

/* Booking appointment container */
#terms-container {
    width: 45em;
    margin: 5em 30em 5em;
    background-color: rgb(99, 106, 184);
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#terms-container label {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    line-height: 25px;
}

#book-appointment {
    width: 100%;
    margin-top: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    cursor: not-allowed;
}

#book-appointment.enabled {
    background-color: rgb(248, 216, 66);
    cursor: pointer;
}

#terms-checkbox1, #terms-checkbox2:hover{
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

.checkboxes label{
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

/* back to top*/
#backToTop{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(10, 10, 61);
    background-color: rgb(251, 241, 239);
    border: none;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, visibility 0.25s ease;
    z-index: 2;
}

#backToTop:hover {
    color: rgb(251, 241, 239);
    transition: all 0.2s ease 0s;
    background-color: rgb(99, 106, 184);
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

/* Footer */
#footer{
    height: 17em;
    padding: 4.0em 4.5em;
    color: rgb(251, 241, 239);
    font-family: "Cabin";
    background-image: linear-gradient(rgb(25, 102, 158), 10%,rgb(10, 10, 61));
    z-index: 0;
}

.footer-waves{
    position: sticky;
    width: 100%;
    bottom: 0px;
    opacity: 0.5;
    z-index: -1;
    margin: -100em 0em -0.5em;
    
}

.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-bottom{
    display:flex;
    justify-content: space-between;
    padding-bottom: 3em;
}

/* Mission message and quick links */
h1{
    font-size: 30px;
    margin-bottom: 5px;
}

p{
    font-size: 18px;
    line-height: 30px;
}

.mission{
    width: 35%;
}

.mission p{
    line-height: 28px;
}

.footer-links li{
    list-style-type: none;
    text-align: right;
}

.footer-links li a{
    line-height: 28px;
    font-size: 18px;
    text-decoration: underline;
    color: rgb(251, 241, 239);
}

.footer-links li a:hover{
    color: rgb(248, 216, 66);
    transition: all 0.2s ease 0s;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

/* social media links */
.logo-follow{
    display: flex;
    align-items: center;
    gap:1.3em;
}

h2{
    font-size: 18px;
}

.socials{
    font-size: 23px;
    display:flex;
    align-items: center;
    gap:0.5em;
}

.logo-follow i:hover{
    color: rgb(248, 216, 66);
    transition: all 0.2s ease 0s;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

