* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adding Font */
@font-face{
    font-family: 'Cabin';
    src: url('../Fonts/Cabin-Regular.ttf') format('truetype');
}

html{
    font-family: "itc-benguiat", serif;
    background-color: rgb(10, 10, 61);
    cursor: url(../Images/graphics/cursor-inactive.png) 5 5, auto;
}

/* Nav Bar */
header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.7em 2.0em;
    top: 0px;
    width: 100%;
    box-shadow: 0px 2px 60px 0px rgb(99, 106, 184);
    font-weight: 400;
    background-color: #0a0a3d;
    z-index: 2;
}

.logo {
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
    margin-right: auto;
    z-index: 99;
}

.nav-links li {
    display: inline-flex;
    font-size: 20px;
    background-color: rgb(10, 10, 61);
}

.nav-links li a {
    margin-right: 2.0em;
    color: rgb(251, 241, 239);
    padding: 10px;
}

.active a{
    text-decoration: underline;
    text-decoration-color: rgb(248, 216, 66);
}

.inactive a{
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(248, 216, 66);
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

/* CTA */
button {
    border: none;
    border-radius: 10px;
    padding: 0.5em 1.0em;
    font-size: 20px;
    font-family: "itc-benguiat", serif;
    font-weight: 400;
    color: rgb(10, 10, 61);
    background-color: rgb(248, 216, 66);
}

button:hover {
    background-color: rgb(249, 241, 206);
    transition: all 0.2s ease 0s;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

/* Mini Sidebar */
.mini-sidebar {
    position: fixed;
    top: 75px;
    right: 25px;
    width: 150px;
    background-color: rgba(10, 10, 61, 0.884);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0;
    z-index: 999;
}

.mini-sidebar ul {
    list-style: none;
}

.mini-sidebar ul li {
    margin-bottom: 10px;
}

.mini-sidebar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 5px 10px;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.mini-sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.244);
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tier-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.tier-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    padding: 2em 4.5em;
    background: rgba(10, 10, 61, 0.511);
    color: white;
}

.overlay h2 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: rgb(248, 216, 66);
}

.overlay p {
    font-family: "Cabin";
    font-size: 20px;
    color: rgb(255, 255, 255);
    max-width: 60%;
}

.learn-more-btn {
    position: absolute;
    bottom: 2em;
    right: 3.5em;
    border: 2px solid white; 
    border-radius: 10px;
    padding: 0.5em 1.0em;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(248, 215, 66, 0); 
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease; 
}

.learn-more-btn:hover {
    background-color: rgba(255, 255, 255, 1); 
    color: rgb(10, 10, 61); 
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

/* Back to top button */
#backToTop{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(10, 10, 61);
    background-color: rgb(251, 241, 239);
    border: none;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, visibility 0.25s ease;
    z-index: 2;
}

#backToTop:hover {
    color: rgb(251, 241, 239);
    background-color: rgb(99, 106, 184);
    transition: all 0.2s ease 0s;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

/* Footer */
#footer{
    height: 17em;
    padding: 3.5em 4.5em;
    color: rgb(251, 241, 239);
    font-family: "Cabin";
    background-color: rgb(10, 10, 61);
    z-index: 0;
}

.footer-waves{
    position: sticky;
    width: 100%;
    bottom: 0px;
    opacity: 0.5;
    z-index: -1;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-bottom{
    display:flex;
    justify-content: space-between;
    padding-bottom: 3em;
}

/* Mission message and quick links */
h1{
    font-size: 30px;
    margin-bottom: 5px;
}

p{
    font-size: 18px;
    line-height: 30px;
}

.mission{
    width: 35%;
}

.mission p{
    line-height: 28px;
}

.footer-links li{
    list-style-type: none;
    text-align: right;
}

.footer-links li a{
    line-height: 28px;
    font-size: 18px;
    text-decoration: underline;
    color: rgb(251, 241, 239);
}

.footer-links li a:hover{
    color: rgb(248, 216, 66);
    transition: all 0.2s ease 0s;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}

/* social media links */
.logo-follow{
    display: flex;
    align-items: center;
    gap:1.3em;
}

h2{
    font-size: 18px;
}

.socials{
    font-size: 23px;
    display:flex;
    align-items: center;
    gap:0.5em;
}

.logo-follow i:hover{
    color: rgb(248, 216, 66);
    transition: all 0.2s ease 0s;
    cursor: url(../Images/graphics/cursor-active.png) 5 5, auto;
}